/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HT1: HT1 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT1";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <1>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        HT2: HT2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        HT3: HT3 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT3";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <3>;
        };

        HT4: HT4 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT4";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <4>;
        };

        HT5: HT5 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT5";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5>;
        };

        HT6: HT6 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT6";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6>;
        };

        HT7: HT7 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT7";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <7>;
        };

        HT8: HT8 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT8";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <8>;
        };

        HT9: HT9 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT9";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <9>;
        };

        HT10: HT10 {
            compatible = "zmk,behavior-hold-tap";
            label = "HT10";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <10>;
        };

        TD1: TD1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp GRAVE>;
        };

        TD2: TD2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;
        };
    };

    macros {
        M3: M3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(BACKSPACE)>;
            label = "M3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Bas";
            bindings = <
&kp ESC         &HT1 F1 N1  &HT2 F2 N2  &HT3 F3 N3    &HT4 F4 N4  &HT5 F5 N5                                     &HT6 F6 N6  &HT7 F7 N7  &HT8 F8 N8        &HT9 F9 N9  &HT10 F10 N0  &kp BACKSPACE
&kp TAB         &kp Q       &kp W       &kp E         &kp R       &kp T                                          &kp Y       &kp U       &kp I             &kp O       &kp P         &kp MINUS
&kp LEFT_SHIFT  &kp A       &kp S       &kp D         &kp F       &kp G                                          &kp H       &kp J       &kp K             &kp L       &TD1          &kp SQT
&kp LCTRL       &kp Z       &kp X       &kp C         &kp V       &kp B         &kp DELETE    &kp RIGHT_CONTROL  &kp N       &kp M       &kp COMMA         &kp DOT     &TD2          &kp RSHFT
                                        &kp LEFT_GUI  &mo 1       &kp LEFT_ALT  &kp SPACE     &kp RET            &mo 1       &mo 2       &kp LANG_HANGEUL
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Low";
            bindings = <
&kp KP_NUMLOCK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans        &trans                          &trans  &kp INSERT  &kp HOME      &kp PAGE_UP    &trans  &trans
&kp CAPSLOCK    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp J         &kp H                           &trans  &kp DELETE  &kp END       &kp PAGE_DOWN  &trans  &trans
&trans          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &kp PRCNT                       &trans  &trans      &kp UP_ARROW  &trans         &trans  &trans
&trans          &kp EQUAL     &kp MINUS     &kp PLUS      &kp ASTERISK  &kp N      &M3       &kp GRAVE  &trans  &kp LEFT    &kp DOWN      &kp RIGHT      &trans  &trans
                                            &trans        &trans        &trans     &trans    &trans     &trans  &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Rai";
            bindings = <
&trans  &trans  &trans  &trans   &trans   &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans   &trans   &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans  &trans  &trans  &trans  &trans  &trans
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans   &trans   &trans   &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
